{% load static %}
<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'theme.css' %}" />
    <script src="{% static 'md5.min.js' %}"></script>
    <title>FCM Demo</title>
  </head>
  <body style="padding: 20px">
    <div id="app">
      <h1>FCM Demo</h1>

      <!-- LOGGED_OUT: Login to the System ---------------------------------------------------------------------------->
      <form v-if="state === 'LOGGED_OUT'">
        <h2>Login to the System</h2>
        <label for="phone_number">Phone Number: </label>
        <input id="phone_number" type="text" v-model="phone_number" />

        <button type="button" @click="sendOtp">Send Otp</button>
      </form>

      <!-- OTP_VERIFY: Verifying OTP ---------------------------------------------------------------------------------->
      <form v-if="state === 'OTP_VERIFY'">
        <h2>Verifying OTP</h2>
        <label for="password">OTP:</label>
        <input id="password" type="password" v-model="password" />

        <button type="button" @click="verifyOtp">Login</button>
      </form>

      <!-- IDLE: Listen to notifications ------------------------------------------------------------------------------>
      <form v-if="state === 'IDLE'">
        <h2>Listening to Notifications</h2>
        <button type="button" onclick="window.location.href = window.location.href">Logout</button>
      </form>

      <!-- Logs ------------------------------------------------------------------------------------------------------->
      <details style="padding: 8px">
        <summary>Logs will show up here</summary>
        <div v-for="log in logs" style="font-family: monospace; padding: 2px">
          <span v-if="log.type === 'info'">🔵</span>
          <span v-if="log.type === 'warn'">🟡</span>
          <span v-if="log.type === 'error'">🔴</span>
          <span v-if="log.type === 'log'">⚫</span>
          <span>&nbsp;[[ log.time ]]&nbsp;</span>
          <span>[[ log.message ]]</span>
        </div>
      </details>
    </div>

    <!-- Scripts ------------------------------------------------------------------------------------------------------>
    <script src="{% static 'vue.global.js' %}"></script>

    {{ firebaseVapidKeyJson|json_script:"firebaseVapidKeyJson" }}
    <!---->
    {{ firebaseConfigJson|json_script:"firebaseConfigJson" }}

    <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/12.0.0/firebase-app.js";
      import {
        getMessaging,
        onMessage,
        getToken,
      } from "https://www.gstatic.com/firebasejs/12.0.0/firebase-messaging.js";

      const firebaseWebConfig = JSON.parse(document.getElementById("firebaseConfigJson").textContent);
      const firebaseWebVapidKey = JSON.parse(document.getElementById("firebaseVapidKeyJson").textContent);

      const firebaseApp = initializeApp(firebaseWebConfig);
      const messaging = getMessaging(firebaseApp);
      const { createApp, computed, ref } = Vue;

      createApp({
        delimiters: ["[[", "]]"],
        setup() {
          const token = ref("");
          const state = ref("LOGGED_OUT");
          const phone_number = ref("");
          const password = ref("");

          // Logging ---------------------------------------------------------------------------------------------------
          const logs = ref([]);

          function addLog(type = null, ...messages) {
            const message = messages.map((x) => (typeof x === "object" ? JSON.stringify(x) : x)).join(" ");
            const timeNow = new Date();
            const time = `${timeNow.getHours()}:${timeNow.getMinutes()}:${timeNow.getSeconds()}`;
            logs.value = [{ type, time, message }, ...logs.value];
          }

          // GET/POST --------------------------------------------------------------------------------------------------
          async function getPostResponse(url, data) {
            addLog("log", "Requesting (POST) : " + url, data);
            const headers = { "Content-Type": "application/json" };
            if (token.value) headers["Authorization"] = "Bearer " + token.value;
            const response = await fetch(url, {
              method: "POST",
              body: JSON.stringify(data),
              headers,
            });
            const jsonData = await response.json();
            if (response.status > 399) {
              addLog("error", jsonData);
              throw new Error("REST API call failure");
            }
            addLog("log", "Response Received: ", jsonData);
            return jsonData;
          }

          // Send OTP --------------------------------------------------------------------------------------------------
          async function sendOtp() {
            await getPostResponse("{% url 'customer-auth-send-otp' %}", {
              phone_number: phone_number.value,
            });
            state.value = "OTP_VERIFY";
          }

          // Verify OTP ------------------------------------------------------------------------------------------------
          async function verifyOtp() {
            const data1 = await getPostResponse("{% url 'customer-auth-verify-otp' %}", {
              phone_number: phone_number.value,
              code: password.value,
            });
            token.value = data1.access;
            try {
              const fcmToken = await getToken(messaging, {
                vapidKey: firebaseWebVapidKey,
              });
              await getPostResponse("{% url 'customer-notificationsfcm-register' %}", {
                name: "Web Demo",
                registration_id: fcmToken,
                active: true,
                type: "web",
              });
            } catch (e) {
              console.error(e);
              addLog(
                "error",
                "Could not register the token, are you using Brave browser " +
                  "or did not give the notification permissions?"
              );
              return;
            }
            state.value = "IDLE";
          }

          // Exposed values --------------------------------------------------------------------------------------------
          return {
            state,
            logs,
            phone_number,
            password,

            sendOtp,
            verifyOtp,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
