container_commands:
  01_dependencies_install:
    command: source /var/app/venv/staging-LQM1lest/bin/activate && pip3 install -r requirements.txt

  02_migrate:
    command: source /var/app/venv/staging-LQM1lest/bin/activate && python3 manage.py migrate

  03_static_files:
    command: source /var/app/venv/staging-LQM1lest/bin/activate && python3 manage.py collectstatic --noinput

  04_create_superuser:
    command: source /var/app/venv/staging-LQM1lest/bin/activate && python3 manage.py superuser --username superadmin --email superadmin@example.com --password userpassword

  05_load_data:
    command: source /var/app/venv/staging-LQM1lest/bin/activate && bash fixtures/load.sh

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: .static
