{% extends "admin/base_site.html" %}

{% load static %}

{% block extrastyle %}
    {{ block.super }}

    <style>
        /* Hide inline admin title and fix padding */
        .inline-group .tabular tr.has_original td.original > p {
            display: none;
        }

        .inline-group .tabular tr.has_original td {
            padding-top: 8pt !important;
        }
    </style>
{% endblock %}

{% block branding %}
    <a href="{% url "custom_admin:index" %}">
        {{ block.super }}
    </a>
{% endblock %}

{% block userlinks %}
    <a href="{% url "api_docs" %}">View API Docs</a>
    /
    {{ block.super }}
{% endblock %}
