{% extends "admin/base_site.html" %}

{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "style_fixes.css" %}">
{% endblock %}

{% block branding %}
    {# Link the logo to the admin index page #}
    <a href="{% url "custom_admin:index" %}">
        {{ block.super }}
    </a>
{% endblock %}

{% block userlinks %}
    {# Add a link to the API docs #}
    <a href="{% url "api_docs" %}">View API Docs</a>
    /
    {{ block.super }}
{% endblock %}
