{% extends "admin/base_site.html" %}

{% load static %}

{% block extrastyle %}
    {{ block.super }}

    <style>
        /* Hide inline admin title and fix padding */
        .inline-group .tabular tr.has_original td.original > p {
            display: none;
        }

        .inline-group .tabular tr.has_original td {
            padding-top: 8pt !important;
        }

        /* Import export preview table styles (disable dark mode) */

        table.import-preview tr.skip {
            background-color: #d2d2d2 !important;
        }

        table.import-preview tr.new {
            background-color: #bdd8b2 !important;
        }

        table.import-preview tr.delete {
            background-color: #f9bebf !important;
        }

        table.import-preview tr.update {
            background-color: #fdfdcf !important;
        }

    </style>
{% endblock %}

{% block branding %}
    <a href="{% url "custom_admin:index" %}">
        {{ block.super }}
    </a>
{% endblock %}

{% block userlinks %}
    <a href="{% url "api_docs" %}">View API Docs</a>
    /
    {{ block.super }}
{% endblock %}
