{% load static humanize %}
<div class="container mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <div class="flex flex-col gap-6 mb-6">
      <h2 class="text-xl font-semibold">System Status</h2>
      <div class="overflow-x-auto">
        <table class="w-full border border-gray-200">
          <thead>
            <tr>
              <th class="w-48 py-2 px-4 border text-left">System</th>
              <th class="w-32 py-2 px-4 border text-left">Status</th>
              <th class="py-2 px-4 border text-left">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="py-2 px-4 border">Celery</td>
              <td class="py-2 px-4 border">{{celery_info.status}} {{celery_info.name}}</td>
              <td class="py-2 px-4 border">{{celery_info.message}}</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border">Cache</td>
              <td class="py-2 px-4 border">{{cache_info.status}} {{cache_info.name}}</td>
              <td class="py-2 px-4 border">{{cache_info.message}}</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border">Media Storage</td>
              <td class="py-2 px-4 border">{{storage_info.status}} {{storage_info.name}}</td>
              <td class="py-2 px-4 border">{{storage_info.message}}</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border">SMS Service</td>
              <td class="py-2 px-4 border">{{sms_info.status}} {{sms_info.name}}</td>
              <td class="py-2 px-4 border">{{sms_info.message}}</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border">Email Service</td>
              <td class="py-2 px-4 border">{{email_info.status}} {{email_info.name}}</td>
              <td class="py-2 px-4 border">{{email_info.message}}</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border">Payment Service</td>
              <td class="py-2 px-4 border">{{payment_info.status}} {{payment_info.name}}</td>
              <td class="py-2 px-4 border">{{payment_info.message}}</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border">Push Notification Service</td>
              <td class="py-2 px-4 border">{{push_info.status}} {{push_info.name}}</td>
              <td class="py-2 px-4 border">{{push_info.message}}</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border">Meal Scanner Service</td>
              <td class="py-2 px-4 border">{{meal_scanner_info.status}} {{meal_scanner_info.name}}</td>
              <td class="py-2 px-4 border">{{meal_scanner_info.message}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="flex flex-col gap-6 mb-6">
      <h2 class="text-xl font-semibold">Payouts</h2>
      <div class="overflow-x-auto">
        <table class="w-full border border-gray-200">
          <thead>
            <tr>
              <th class="py-2 px-4 border text-left">Organization</th>
              <th class="py-2 px-4 border text-left">Total Payments</th>
              <th class="py-2 px-4 border text-left">PG Fee (3.5%)</th>
              <th class="py-2 px-4 border text-left">Total Payouts</th>
              <th class="py-2 px-4 border text-left">Completed Payouts</th>
              <th class="py-2 px-4 border text-left">Pending Payouts</th>
            </tr>
          </thead>
          <tbody>
            {% for x in org_payout_stats %}
            <tr>
              <td class="py-2 px-4 border">{{ x.organization_name | default:"Other"}}</td>
              <td class="py-2 px-4 border text-right">{{ x.total_payments | floatformat:"2" | intcomma }}</td>
              <td class="py-2 px-4 border text-right">{{ x.total_pg_fee | floatformat:"2" | intcomma }}</td>
              <td class="py-2 px-4 border text-right">{{ x.total_payouts | floatformat:"2" | intcomma }}</td>
              <td class="py-2 px-4 border text-right">{{ x.total_completed_payouts | floatformat:"2" | intcomma }}</td>
              <td class="py-2 px-4 border text-right">{{ x.total_pending_payouts | floatformat:"2" | intcomma }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'apexcharts.js' %}"></script>
