{% load static humanize %}
<div class="container mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <div class="flex flex-col gap-6 mb-6">
      <h2 class="text-xl font-semibold">System Status</h2>
      <div class="overflow-x-auto">
        <table class="w-full border border-gray-200">
          <thead>
            <tr>
              <th class="w-48 py-2 px-4 border text-left">System</th>
              <th class="w-32 py-2 px-4 border text-left">Status</th>
              <th class="py-2 px-4 border text-left">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="py-2 px-4 border">Celery</td>
              <td class="py-2 px-4 border">{{celery_info.status}} {{celery_info.name}}</td>
              <td class="py-2 px-4 border">{{celery_info.message}}</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border">Cache</td>
              <td class="py-2 px-4 border">{{cache_info.status}} {{cache_info.name}}</td>
              <td class="py-2 px-4 border">{{cache_info.message}}</td>
            </tr>
            <tr>
              <td class="py-2 px-4 border">Media Storage</td>
              <td class="py-2 px-4 border">{{storage_info.status}} {{storage_info.name}}</td>
              <td class="py-2 px-4 border">{{storage_info.message}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
