{% extends "admin/index.html" %}

{% load i18n static dashboard %}

{% block extrastyle %}
    {{ block.super }}
    <!--suppress CssUnusedSymbol -->
    <style>
        .dashboard #content {
            width: auto;
        }

        #content-main {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        }

        #dashboard-iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    {{ block.super }}
{% endblock %}

{% block nav-sidebar %}
    {% include "admin/nav_sidebar.html" %}
{% endblock %}

{% block content %}
    <div id="content-main">
        <iframe id="dashboard-iframe" src="{% url 'dashboard' %}" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
    </div>
{% endblock %}

{% block sidebar %}
    {% include "admin/recent_actions.html" %}
{% endblock %}
