{% load i18n static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title|default:"RapiDoc" }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="module" src="{{ rapidoc_js_dist }}"></script>
    <script type="module" src="{{ rapipdf_js_dist }}"></script>
  </head>
  <body>
    <rapi-doc
      spec-url="{{ schema_url }}"
      persist-auth="true"
      fill-request-fields-with-example="false"
      theme="light"
      show-method-in-nav-bar="as-colored-block"
      use-path-in-nav-bar="true"
      show-header="false"
    >
      <rapi-pdf
        slot="overview"
        spec-url="{{ schema_url }}"
        hide-input="true"
      ></rapi-pdf>
    </rapi-doc>
  </body>
</html>
