<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title|default:"RapiDoc" }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="module" src="{{ rapidoc_js_dist }}"></script>
    <script type="module" src="{{ rapipdf_js_dist }}"></script>
</head>
<body>
<rapi-doc
        spec-url="{{ schema_url }}"
        persist-auth="true"
        fill-request-fields-with-example="false"
        theme="light"
        show-method-in-nav-bar="as-colored-block"
        use-path-in-nav-bar="true"
        nav-bg-color="#161F6D"
        primary-color="#337DEF"
        show-header="false"
>
    <img slot="nav-logo" src="https://ixdlabs.com/_next/static/media/logo-icon-white.e468545b.svg"
         alt="Logo" style="width:100px; height:100px; margin-left: auto; margin-right: auto"/>
    <rapi-pdf
            slot="overview"
            spec-url="{{ schema_url }}"
            button-bg="#161F6D"
            hide-input="true"
            pdf-primary-color="#161F6D"
            pdf-alternate-color="#337DEF"
    ></rapi-pdf>
</rapi-doc>

</body>
</html>
