{% load static %}
<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'theme.css' %}" />
    <title>PayHere Demo</title>
  </head>
  <body style="padding: 20px">
    <div id="app">
      <h1>Payhere Order Demo</h1>

      <!-- LOGGED_OUT: Login to the System ---------------------------------------------------------------------------->
      <form v-if="state === 'LOGGED_OUT'">
        <h2>Login to the System</h2>
        <label for="phone_number">Phone Number: </label>
        <input id="phone_number" type="text" v-model="phone_number" />

        <button type="button" @click="sendOtp">Send Otp</button>
      </form>

      <!-- OTP_VERIFY: Verifying OTP ---------------------------------------------------------------------------------->
      <form v-if="state === 'OTP_VERIFY'">
        <h2>Verifying OTP</h2>
        <label for="password">OTP:</label>
        <input id="password" type="password" v-model="password" />

        <button type="button" @click="verifyOtp">Login</button>
      </form>

      <!-- IDLE: Submit order ----------------------------------------------------------------------------------------->
      <form v-if="state === 'IDLE'">
        <h2>Submit order</h2>
        <label for="package">Package: </label>
        <select id="package" v-model="packageId">
          <option v-for="pck in packages" :key="pck.id" :value="pck.id">[[pck.name]]</option>
        </select>
        <label for="recurring">Recurring </label>
        <input type="checkbox" v-model="recurring">
        <input id="domain" type="text" v-model="domain" />

        <button type="button" @click="createOrder">Order</button>
        <button type="button" onclick="window.location.href = window.location.href">Logout</button>
      </form>

      <!-- CHECKING_OUT: Add Billing Details -------------------------------------------------------------------------->
      <form v-if="state === 'CHECKING_OUT'" method="post" action="https://sandbox.payhere.lk/pay/checkout">
        <h2>Add Billing Details</h2>

        <!-- URLS -->
        <input type="hidden" name="merchant_id" placeholder="Merchant ID" v-model="merchantId" />
        <input type="hidden" name="return_url" value="{{ return_url }}" />
        <input type="hidden" name="cancel_url" value="{{ return_url }}" />
        <input type="hidden" name="notify_url" placeholder="Notify URL" v-model="notifyUrl" />

        <!-- Order Details -->
        <input type="hidden" name="order_id" placeholder="Order ID" v-model="orderId" />
        <input type="hidden" name="amount" placeholder="Amount" v-model="amount" />
        <input type="hidden" name="items" placeholder="Items" value="Credit Purchase" />
        <input type="hidden" name="currency" placeholder="Currency" v-model="currency" />
        <input type="hidden" name="recurrence" placeholder="Recurrence" v-model="recurrence" />
        <input type="hidden" name="duration" placeholder="Duration" v-model="duration" />

        <!-- Billing Information -->
        <label for="first_name">First Name: </label>
        <input type="text" id="first_name" name="first_name" value="Demo" />
        <label for="last_name">Last Name: </label>
        <input type="text" id="last_name" name="last_name" value="User" />
        <label for="email">Email Address: </label>
        <input type="text" id="email" name="email" value="demouser@example.com" />
        <label for="phone">Phone Number: </label>
        <input type="text" id="phone" name="phone" value="0123344567" />
        <label for="address">Address: </label>
        <input type="text" id="address" name="address" value="No.1, Demo Road" />
        <label for="city">City: </label>
        <input type="text" id="city" name="city" value="Demo City" />
        <label for="country">Country: </label>
        <input type="text" id="country" name="country" value="Sri Lanka" />
        <input type="hidden" id="hash" name="hash" :value="hash" />
        <hr />
        <input type="submit" value="Buy Now" />
      </form>

      <!-- Logs ------------------------------------------------------------------------------------------------------->
      <details style="padding: 8px">
        <summary>Logs will show up here</summary>
        <div v-for="log in logs" style="font-family: monospace; padding: 2px">
          <span v-if="log.type === 'info'">🔵</span>
          <span v-if="log.type === 'warn'">🟡</span>
          <span v-if="log.type === 'error'">🔴</span>
          <span v-if="log.type === 'log'">⚫</span>
          <span>&nbsp;[[ log.time ]]&nbsp;</span>
          <span>[[ log.message ]]</span>
        </div>
      </details>
    </div>

    <blockquote cite="https://support.payhere.lk/sandbox-and-testing">
      <h2>Sandbox Credit Card Numbers</h2>
      <div>Visa: 4916217501611292</div>
      <div>MasterCard: 5307732125531191</div>
      <div>AMEX: 346781005510225</div>
    </blockquote>

    <!-- Scripts ------------------------------------------------------------------------------------------------------>
    <script src="{% static 'vue.global.js' %}"></script>
    <script src="{% static 'md5.min.js' %}"></script>

    <script>
      const { createApp, computed, ref } = Vue;

      createApp({
        delimiters: ["[[", "]]"],
        setup() {
          // State variables -------------------------------------------------------------------------------------------
          const token = ref("");
          const state = ref("LOGGED_OUT");
          const phone_number = ref("");
          const password = ref("");
          const packageId = ref("");
          const recurring = ref(false);
          const domain = ref("ngrok-free.app");
          const amount = ref("");
          const orderId = ref("");
          const signature = ref("");
          const currency = ref("");
          const merchantId = ref("");
          const notifyUrl = ref("");
          const recurrence = ref("");
          const duration = ref("");
          const packages = ref([]);

          const hash = computed(() => {
            return signature.value + "";
          });

          // Logging ---------------------------------------------------------------------------------------------------
          const logs = ref([]);

          function addLog(type = null, ...messages) {
            const message = messages.map((x) => (typeof x === "object" ? JSON.stringify(x) : x)).join(" ");
            const timeNow = new Date();
            const time = `${timeNow.getHours()}:${timeNow.getMinutes()}:${timeNow.getSeconds()}`;
            logs.value = [{ type, time, message }, ...logs.value];
          }

          // GET/POST --------------------------------------------------------------------------------------------------
          async function getPostResponse(url, data) {
            addLog("log", "Requesting (POST) : " + url, data);
            const headers = { "Content-Type": "application/json" };
            if (token.value) headers["Authorization"] = "Bearer " + token.value;
            const response = await fetch(url, {
              method: "POST",
              body: JSON.stringify(data),
              headers,
            });
            const jsonData = await response.json();
            if (response.status > 399) {
              addLog("error", jsonData);
              throw new Error("REST API call failure");
            }
            addLog("log", "Response Received: ", jsonData);
            return jsonData;
          }

          async function getGetResponse(url) {
            addLog("log", "Requesting (GET) : " + url);
            const headers = { "Content-Type": "application/json" };
            if (token.value) headers["Authorization"] = "Bearer " + token.value;
            const response = await fetch(url, { headers });
            const jsonData = await response.json();
            if (response.status > 399) {
              addLog("error", jsonData);
              throw new Error("REST API call failure");
            }
            addLog("log", "Response Received: ", jsonData);
            return jsonData;
          }

          // Send OTP --------------------------------------------------------------------------------------------------
          async function sendOtp() {
            await getPostResponse("{% url 'customer-auth-send-otp' %}", {
              phone_number: phone_number.value,
            });
            state.value = "OTP_VERIFY";
          }

          // Verify OTP ------------------------------------------------------------------------------------------------
          async function verifyOtp() {
            const data1 = await getPostResponse("{% url 'customer-auth-verify-otp' %}", {
              phone_number: phone_number.value,
              code: password.value,
            });
            token.value = data1.access;
            const data2 = await getGetResponse("{% url 'customer-membershippackages-list' %}");
            packages.value = data2;
            state.value = "IDLE";
          }

          // Create order ----------------------------------------------------------------------------------------------
          async function createOrder() {
            const client_side_url_base = `/api/v1/customer/memberships/packages/${packageId.value}`
            const data = await getPostResponse(
              // client-side-url
              recurring.value ? `${client_side_url_base}/subscribe/` : `${client_side_url_base}/buy/`,
              {
                start_date: "2025-01-01",
                domain: domain.value,
                is_sandbox: true,
              }
            );
            orderId.value = data["payhere_order_id"];
            amount.value = data["payhere_amount"];
            currency.value = data["payhere_currency"];
            signature.value = data["payhere_signature"];
            merchantId.value = data["payhere_merchant_id"];
            notifyUrl.value = data["payhere_notify_url"];
            state.value = "CHECKING_OUT";
            if (recurring.value) {
              recurrence.value = data["payhere_recurrence"];
              duration.value = data["payhere_duration"];
            }
          }

          // Exposed values --------------------------------------------------------------------------------------------
          return {
            state,
            logs,
            phone_number,
            password,
            packages,
            packageId,
            recurring,
            domain,
            amount,
            orderId,
            currency,
            hash,
            merchantId,
            notifyUrl,
            recurrence,
            duration,

            sendOtp,
            verifyOtp,
            createOrder,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
