{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "admin/css/login.css" %}">
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}

{% block content %}
    <p id="errors" class="errornote hidden"></p>
    <p id="success" class="hidden"></p>

    <form id="form">
        <div class="form-row">
            <label for="password" class="required">{% translate 'Password' %}</label>
            <input type="password" name="password" id="password" class="form-control fill_width" required/>
        </div>
        <div class="form-row">
            <label for="confirm_password" class="required">{% translate 'Confirm password' %}</label>
            <input type="password" name="confirm_password" id="confirm_password" class="form-control fill_width"
                   required/>
        </div>
        <div class="submit-row">
            <input type="submit" value="{% translate 'Reset password' %}" class="btn btn-primary"/>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $("#form").submit(function (e) {
            e.preventDefault();

            const errors_p = $('#errors');
            const success_p = $('#success');

            errors_p.hide()
            errors_p.html("");
            success_p.hide()
            success_p.html("");

            const password1 = $('#password').val();
            const password2 = $('#confirm_password').val();
            const uid = '{{ uid }}';
            const token = '{{ token }}';
            const formData = {new_password1: password1, new_password2: password2, uid: uid, token: token};

            const url = '{% url 'rest_password_reset_confirm' %}';

            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                success: function () {
                    success_p.show()
                    success_p.html("Password reset was successful, please close this tab and try to login to your app now.");
                    $('#form').hide();
                },
                error: function (jqXHR) {
                    const data = jqXHR.responseJSON;
                    const err_attrib = data["errors"][0]["attr"];
                    if (err_attrib === "new_password1") {
                        errors_p.show()
                        errors_p.html(data["errors"][0]["detail"]);
                    } else if (err_attrib === "new_password2") {
                        errors_p.show()
                        errors_p.html(data["errors"][0]["detail"]);
                    } else if (err_attrib === "token") {
                        errors_p.show()
                        errors_p.html("Something went wrong with the token, it was probably already used.");
                    } else {
                        errors_p.show()
                        errors_p.html("Something went wrong: " + err_attrib + " - " + data["errors"][0]["detail"]);
                    }
                }
            });
        });
    </script>

{% endblock %}
