{% load static %}
<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'theme.css' %}" />
    <title>QR Scanner Demo</title>
  </head>
  <body style="padding: 20px">
    <div id="app">
      <h1>QR Scanner Demo</h1>

      <!-- TERMINAL_SELECT_STEP: Terminal Entry ----------------------------------------------------------------------->
      <form v-if="state === 'TERMINAL_SELECT_STEP'">
        <h2>Access Terminal:</h2>
        <select id="terminalId" v-model="terminalId">
          <option v-for="tml in terminals" :key="tml.id" :value="tml.id">[[tml.name]]</option>
        </select>
        <button type="button" @click="beginQrScanFlow">Scan QR</button>
      </form>

      <!-- QR_SCAN: QR Code Scanning ---------------------------------------------------------------------------------->
      <div v-if="state === 'QR_SCAN'">
        <div id="reader" width="600px"></div>
      </div>

      <!-- QR_SCANNED: Attendance Submitted --------------------------------------------------------------------------->
      <div v-if="state === 'QR_SCANNED'">
        <h2>[[ finalMsg ]]</h2>
      </div>

      <!-- Logs ------------------------------------------------------------------------------------------------------->
      <details style="padding: 8px">
        <summary>Logs will show up here</summary>
        <div v-for="log in logs" style="font-family: monospace; padding: 2px">
          <span v-if="log.type === 'info'">🔵</span>
          <span v-if="log.type === 'warn'">🟡</span>
          <span v-if="log.type === 'error'">🔴</span>
          <span v-if="log.type === 'log'">⚫</span>
          <span>&nbsp;[[ log.time ]]&nbsp;</span>
          <span>[[ log.message ]]</span>
        </div>
      </details>
    </div>

    <!-- Scripts ------------------------------------------------------------------------------------------------------>
    <script src="{% static 'vue.global.js' %}"></script>
    <script src="{% static 'html5_qrcode.js' %}"></script>
    <script src="{% static 'jwt_encode.js' %}"></script>
    {{ terminal_details|json_script:"terminal_details" }}

    <script>
      const { createApp, computed, ref, nextTick } = Vue;
      const state = ref("TERMINAL_SELECT_STEP");
      let lock = false;

      createApp({
        delimiters: ["[[", "]]"],
        setup() {
          // State variables -------------------------------------------------------------------------------------------
          const terminals = JSON.parse(document.getElementById("terminal_details").textContent);
          const terminalId = ref("");
          const finalMsg = ref("");

          // Logging ---------------------------------------------------------------------------------------------------
          const logs = ref([]);

          function addLog(type = null, ...messages) {
            const message = messages.map((x) => (typeof x === "object" ? JSON.stringify(x) : x)).join(" ");
            const timeNow = new Date();
            const time = `${timeNow.getHours()}:${timeNow.getMinutes()}:${timeNow.getSeconds()}`;
            logs.value = [{ type, time, message }, ...logs.value];
          }

          // GET/POST --------------------------------------------------------------------------------------------------
          async function getPostResponse(url, data) {
            addLog("log", "Requesting (POST) : " + url, data);
            const headers = { "Content-Type": "application/json" };
            const response = await fetch(url, {
              method: "POST",
              body: JSON.stringify(data),
              headers,
            });
            const jsonData = await response.json();
            if (response.status > 399) {
              addLog("error", jsonData);
              throw new Error("REST API call failure");
            }
            addLog("log", "Response Received: ", jsonData);
            return jsonData;
          }

          // Begin QR Scan Flow ----------------------------------------------------------------------------------------
          function beginQrScanFlow() {
            const selectedTerminal = terminals.find((x) => x.id === terminalId.value);
            if (!selectedTerminal) {
              addLog("error", "Terminal ID is not valid");
              return;
            }

            state.value = "QR_SCAN";
            nextTick(() => {
              const scanner = new Html5QrcodeScanner("reader", {
                fps: 10,
                qrbox: { width: 250, height: 250 },
              });

              scanner.render(
                async (decodedText, decodedResult) => {
                  if (lock) return;
                  lock = true;
                  try {
                    addLog("info", decodedText);
                    const payload = {
                      access_terminal: terminalId.value,
                      attendance_type: "ENTRY",
                      access_mode: "TOTP_QR",
                      token: decodedText,
                    };
                    const token = await jwtEncode(payload, selectedTerminal.secret);
                    const result = await getPostResponse("{% url 'device-attendance-verify-jwt-access' %}", { token });
                    addLog("info", result);
                    if (result.success) {
                      finalMsg.value = `Hello ${result.name}`;
                    } else {
                      finalMsg.value = `Error: ${result.error}`;
                    }
                    state.value = "QR_SCANNED";
                  } catch (e) {
                    addLog("error", e);
                    lock = false;
                  }
                },
                (error) => {}
              );
            });
          }

          // Exposed values --------------------------------------------------------------------------------------------
          return {
            state,
            logs,
            terminalId,
            finalMsg,
            terminals,

            beginQrScanFlow,
            addLog,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
